.background {
  &__circle-7 {
    //   z-index: 1;
    //   position: absolute;
    //   width: 60rem;
    //   height: 60rem;
    //   border-radius: 100%;
    //   background-color: rgb(255, 255, 255);
    //   border: 0.1rem solid white;
    //   top: -30rem;
    //   left: -20rem;
    //  // box-shadow: 0rem 0rem 5rem 5rem rgb(255, 255, 255);
  }
}
