.change-pic-pass-modal {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 5rem;
  position: fixed;
  z-index: 2;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  width: 50rem;
  height: 40rem;
  justify-content: center;
  border: 0.1rem solid rgba(67, 67, 67, 0.3);
  background: linear-gradient(
    120deg,
    rgb(42, 44, 45) 0%,
    rgb(37, 38, 40) 50%,
    rgb(30, 31, 34) 100%
  );
  border-radius: 2rem;
  box-shadow: 0rem 0rem 1.5rem 0.4rem rgba(61, 63, 77, 0.1);

  &__input {
    height: 3.5rem;
    font-size: 1.7rem;
    border-radius: 1rem;
    border: 0.1rem solid rgba(67, 67, 67, 0.3);
    padding-left: 1rem;
    background-color: rgb(47, 48, 50);
    color: white;
  }

  &__input:focus {
    outline: 0.1rem solid #23988d;
  }

  &__input::placeholder {
    color: rgb(206, 206, 206);
  }

  &__btn-change {
    background-color: #2ec4b6;
    border: none;
    color: white;
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 1.6rem;
    transition-property: background-color;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
  }

  &__btn-change:hover {
    background-color: #23988d;
  }

  &__x-close {
    font-size: 2.7rem;
    cursor: pointer;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 2rem;
    left: 45rem;
  }
}
