.conversation-card {
  display: flex;
  gap: 2rem;
  width: 25rem;
  height: 10rem;
  border: 0.1rem solid black;
  border-radius: 0.3rem;
  padding: 1rem;
  cursor: pointer;

  &__user-img {
    border: 0.1rem solid rgb(206, 206, 206);
    width: 8rem;
    height: 8rem;
    object-fit: cover;
    border-radius: 0.5rem;
  }
}
