.conversation-card {
  display: flex;
  gap: 2rem;
  min-width: 32rem;
  height: 13rem;
  width: 18rem;
  padding: 1rem;
  border: 0.1rem solid rgba(67, 67, 67, 0.3);
  background: linear-gradient(
    120deg,
    rgb(42, 44, 45) 0%,
    rgb(37, 38, 40) 50%,
    rgb(30, 31, 34) 100%
  );
  border-radius: 2rem;
  box-shadow: 0rem 0rem 1.5rem 0.4rem rgba(61, 63, 77, 0.1);
  cursor: pointer;

  &__user-img {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 1rem;
  }

  &__username {
    color: #2ec4b6;
    font-size: 2rem;
  }
}
