.error-msg-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(237, 195, 195);
  border: 0.1rem solid rgb(250, 120, 120);
  width: 30rem;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  padding: 1rem;
 

  &__error-text {
    font-weight: 300;
    font-size: 1.4rem;
    color: rgb(31, 31, 31);
    padding-right: 4rem;
  }

  &__x-close {
    font-size: 1.8rem;
    color: rgb(167, 54, 54);
    cursor: pointer;
  }
}
