.loading-element {
  font-size: 2rem;
  margin-bottom: 5rem;
  color: rgb(189, 189, 189);
  border-radius: 0.5rem;
  height: 4rem;
  animation: loading 0.5s ease-in-out infinite;
}

@keyframes loading {
  0% {
    background-color: rgba(194, 194, 194, 0.05);
  }
  100% {
    background-color: rgba(194, 194, 194, 0.12);
  }
}
