.post-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 22rem;
  height: 35rem;
  padding: 1rem;
  cursor: pointer;
  border: 0.1rem solid rgba(67, 67, 67, 0.3);
  background: linear-gradient(
    120deg,
    rgb(42, 44, 45) 0%,
    rgb(37, 38, 40) 50%,
    rgb(30, 31, 34) 100%
  );
  border-radius: 2rem;
  box-shadow: 0rem 0rem 1.5rem 0.4rem rgba(61, 63, 77, 0.1);
  transition-duration: 0.25s;

  &__post-img {
    object-fit: cover;
    width: 20rem;
    height: 15rem;
    border-radius: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  &__title {
    font-size: 2.2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-weight: 800;
    align-self: flex-start;
    color: #2ec4b6;
  }

  &__likes,
  &__comments {
    font-size: 1.2rem;
    font-weight: 800;
    margin-top: 0.5rem;
    color: white;
    text-transform: uppercase;
    align-self: flex-start;
  }

  &__like-comments-num {
    padding-left: 1rem;
    color: #2ec4b6;
  }

  &__created-at {
    font-size: 1rem;
    font-weight: 600;
    color: white;
    margin-top: 3.3rem;
    align-self: flex-start;
  }

  &__date {
    margin-left: 1rem;
    color: #2ec4b6;
  }
}

.post-card:hover {
  border-color: rgba(255, 255, 255, 0.2);
}
