.single-post-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  border: 0.1rem solid rgba(212, 212, 212, 0.4);
  padding: 5rem;
  position: absolute;
  z-index: 2;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  border-radius: 0.5rem;
  width: 70rem;
  height: 60rem;
  background-color: rgba(199, 222, 215, 0.2);
  backdrop-filter: blur(1.5rem);
  box-shadow: 0.4rem 0.1rem 0.7rem 0.2rem rgba(150, 150, 150, 0.1);

  &__top-container {
    display: flex;
    gap: 2rem;
    height: 40%;
    width: 100%;
  }

  &__post-img {
    object-fit: cover;
    width: 50%;
    height: 100%;
  }

  &__right-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__post-title {
    font-size: 2rem;
  }

  &__likes-container {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  &__btn-like {
    background-color: rgb(75, 180, 120);
    border: none;
    color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1.4rem;
    width: 60%;
  }

  &__comments-container {
    border: 0.1rem solid black;
    width: 100%;
    height: 60%;
    padding: 1rem;
  }

  &__comments-field {
    border: 0.1rem solid black;
    padding: 2rem;
    gap: 2rem;
    padding: 1rem;
    height: 80%;
    overflow-y: auto;
  }

  &__comments-inputs-container {
    display: flex;
    margin-top: 1rem;
    gap: 1rem;
    justify-content: space-between;
  }

  &__input-comments {
    width: 85%;
    height: 4.1rem;
  }

  &__btn-comment {
    background-color: rgb(75, 180, 120);
    border: none;
    color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1.4rem;
  }

  &__x-close {
    font-size: 2.7rem;
    cursor: pointer;
    color: rgb(69, 74, 72);
    position: absolute;
    top: 2rem;
    left: 65rem;
  }
}

.singlePostModalOpacity {
  opacity: 1;
}
