.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 2rem;
  height: 10rem;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(1rem);
  box-shadow: 0rem 0rem 1rem 0.5rem rgba(177, 178, 171, 0.1);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;

  &__btn-logout {
    background-color: rgb(215, 89, 89);
    cursor: pointer;
  }
}
