.toolbar {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 2rem;
  height: 10rem;
  background: linear-gradient(
    120deg,
    rgb(42, 44, 45) 0%,
    rgb(37, 38, 40) 50%,
    rgb(30, 31, 34) 100%
  );
  box-shadow: 0rem 0rem 1.5rem 0.4rem rgba(61, 63, 77, 0.1);
  // border-bottom-left-radius: 2rem;
  // border-bottom-right-radius: 2rem;
  width: 100%;

  &__btn {
    text-decoration: none;
    text-align: center;
    width: 15rem;
    text-transform: uppercase;
    padding: 1rem;
    cursor: pointer;
    font-size: 1.6rem;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
    color: rgb(255, 255, 255);
  }

  &__btn:hover {
    border: 0.1rem solid rgb(241, 241, 241);
    border-radius: 0.5rem;
  }

  &__btn-logout {
    border: none;
    text-decoration: none;
    text-align: center;
    width: 15rem;
    text-transform: uppercase;
    padding: 1rem;
    cursor: pointer;
    font-size: 1.6rem;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
    color: black;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
    border: 0.1rem solid rgb(241, 241, 241);
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__btn-logout:hover {
    color: rgb(82, 111, 104);
  }
}
