.toolbar {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 2rem;
  height: 10rem;
  background: linear-gradient(
    120deg,
    rgb(42, 44, 45) 0%,
    rgb(37, 38, 40) 50%,
    rgb(30, 31, 34) 100%
  );
  box-shadow: 0rem 0rem 1.5rem 0.4rem rgba(61, 63, 77, 0.1);
  width: 100%;

  &__btn {
    text-decoration: none;
    text-align: center;
    width: 15rem;
    text-transform: uppercase;
    padding: 1rem;
    cursor: pointer;
    font-size: 1.6rem;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
    color: rgb(255, 255, 255);
  }

  &__btn:hover {
    color: #2ec4b6;
  }

  &__btn-logout {
    font-family: "Montserrat", sans-serif;
    background-color: rgba(246, 246, 246, 0);
    color: #2ec4b6;
    border: none;
    text-decoration: none;
    text-align: center;
    width: 15rem;
    text-transform: uppercase;
    padding: 1rem;
    cursor: pointer;
    font-size: 1.6rem;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
    font-weight: 800;
    border-radius: 1rem;
  }

  &__btn-logout:hover {
    color: #23988d;
  }

  &__btn-active {
    color: #2ec4b6;
    text-decoration-line: underline;
    text-underline-offset: 1rem;
  }
}
