.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;

  &__error-msg {
    color: red;
    height: 3rem;
    display: flex;
    align-items: center;
  }

  &__inputs-container {
    display: flex;
    flex-direction: column;
    width: 15rem;
    gap: 2rem;
  }

  &__autologin-container {
    display: flex;
    align-items: center;
    gap: 2rem;
  }


  &__autoligin-text{
    font-size: 1.4rem;
    font-weight: 400;
  }

  &__checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1rem solid black;
    width: 2rem;
    height: 2rem;
    border-radius: 0.3rem;
    cursor: pointer;
  }
}
