.messages-page {
  display: flex;
  gap: 5rem;

  &__conversations-container {
    display: flex;
    flex-direction: column;
    border: 0.1rem solid black;
    padding: 2rem;
    gap: 2rem;
  }

  &__chat-container {
    display: flex;
    flex-direction: column;
    border: 0.1rem solid black;
    padding: 2rem;
    gap: 2rem;
    width: 50rem;
    height: 60rem;
  }

  &__chat-field {
    border: 0.1rem solid black;
    padding: 2rem;
    gap: 2rem;
    height: 90%;
    overflow-y: auto;
  }

  &__inputs-container {
    display: flex;
    gap: 1rem;
  }

  &__conversation-username {
    color: gray;
    font-size: 1.8rem;
  }

  &__msg-text {
    background-color: rgb(233, 238, 198);
    color: rgb(39, 39, 39);
    font-weight: 400;
    margin-bottom: 1.5rem;
    padding: 1rem;
    font-size: 1.3rem;
  }

  &__sender-name {
    background-color: rgb(233, 238, 198);
    color: rgb(65, 65, 65);
    font-weight: 900;
    padding-left: 1rem;
    padding-top: 0.5rem;
    font-size: 1rem;
  }

  &__text-input {
    width: 90%;
    height: 4.1rem;
  }

  &__btn-send {
    background-color: rgb(75, 180, 120);
    border: none;
    color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1.4rem;
  }
}
