.messages-page {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
  gap: 5rem;

  &__conversations-container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
    z-index: 2;
    border: 0.1rem solid rgb(168, 172, 170, 0.7);
    border-radius: 0.5rem;
    backdrop-filter: blur(1rem);
    box-shadow: 0.1rem 0.4rem 1rem 0.5rem rgba(177, 178, 171, 0.1);
  }

  &__chat-container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
    width: 50rem;
    height: 60rem;
    border: 0.1rem solid rgb(168, 172, 170, 0.7);
    border-radius: 0.5rem;
    backdrop-filter: blur(1rem);
    box-shadow: 0.1rem 0.4rem 1rem 0.5rem rgba(177, 178, 171, 0.1);
  }

  &__chat-field {
    padding: 2rem;
    gap: 2rem;
    height: 90%;
    overflow-y: auto;
  }

  &__inputs-container {
    display: flex;
    gap: 1rem;
  }

  &__conversation-username {
    color: gray;
    font-size: 1.8rem;
  }

  &__msg-text {
    color: rgb(39, 39, 39);
    font-weight: 400;
    margin-bottom: 1.5rem;
    padding: 1rem;
    font-size: 1.3rem;
    background-color: rgba(255, 255, 255, 0.2);
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    backdrop-filter: blur(1rem);
  }

  &__sender-name {
    color: rgb(65, 65, 65);
    font-weight: 900;
    padding-left: 1rem;
    padding-top: 0.5rem;
    font-size: 1rem;
    background-color: rgba(255, 255, 255, 0.2);
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    backdrop-filter: blur(1rem);
  }

  &__text-input {
    width: 90%;
    height: 4.1rem;
  }

  &__btn-send {
    background-color: rgb(75, 180, 120);
    border: none;
    color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1.4rem;
  }

  &__no-conversation-selected {
    font-size: 2rem;
    text-align: center;
    color: rgb(75, 75, 75);
  }
}
