.messages-page {
  display: flex;
  justify-content: center;
  margin-top: 20rem;
  gap: 5rem;

  &__conversations-container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
    border: 0.1rem solid rgba(67, 67, 67, 0.3);
    background: linear-gradient(
      120deg,
      rgb(42, 44, 45) 0%,
      rgb(37, 38, 40) 50%,
      rgb(30, 31, 34) 100%
    );
    border-radius: 2rem;
    box-shadow: 0rem 0rem 1.5rem 0.4rem rgba(61, 63, 77, 0.1);
  }

  &__chat-container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
    width: 50rem;
    height: 60rem;
    border: 0.1rem solid rgba(67, 67, 67, 0.3);
    background: linear-gradient(
      120deg,
      rgb(42, 44, 45) 0%,
      rgb(37, 38, 40) 50%,
      rgb(30, 31, 34) 100%
    );
    border-radius: 2rem;
    box-shadow: 0rem 0rem 1.5rem 0.4rem rgba(61, 63, 77, 0.1);
  }

  &__chat-field {
    padding: 2rem;
    gap: 2rem;
    padding: 1rem;
    height: 90%;
    overflow-y: auto;
  }

  &__inputs-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__conversation-username {
    color: #2ec4b6;
    font-size: 1.9rem;
  }

  &__msg-text {
    color: rgb(255, 255, 255);
    margin-bottom: 1.5rem;
    padding: 1rem;
    font-size: 1.3rem;
    border: 0.1rem solid rgba(67, 67, 67, 1);
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-top: none;
  }

  &__sender-name {
    color: #2ec4b6;
    padding-left: 1rem;
    padding-top: 0.5rem;
    font-size: 1rem;
    border: 0.1rem solid rgba(67, 67, 67, 1);
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    border-bottom: none;
  }

  &__text-input {
    height: 5.1rem;
    font-size: 1.7rem;
    border-radius: 1rem;
    border: 0.1rem solid rgba(67, 67, 67, 0.3);
    padding-left: 1rem;
    background-color: rgb(47, 48, 50);
    color: white;
    resize: none;
  }

  &__text-input:focus {
    outline: 0.1rem solid #23988d;
  }

  &__no-conversation-selected {
    font-size: 2rem;
    text-align: center;
    color: rgb(225, 225, 225);
  }

  &__with {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.3rem;
    color: rgb(186, 186, 186);
  }

  &__btn-send {
    background-color: #2ec4b6;
    border: none;
    color: white;
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 1.6rem;
    transition-property: background-color;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
  }

  &__btn-send :hover {
    background-color: #23988d;
  }
}
