.posts-page {
  &__posts-container {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
  }

  &__comment {
    font-size: 1.5rem;
    background-color: rgb(218, 239, 186);
    padding: 1rem;
    margin: 1.2rem;
  }

  &__commentator {
    font-size: 1.2rem;
    padding-bottom: 1rem;
    padding-right: 2rem;
  }
}
