.posts-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
  gap: 5rem;

  &__posts-container {
    display: flex;
    flex-wrap: wrap;
    width: 68%;
    gap: 3rem;
  }

  &__comment {
    font-size: 1.5rem;
    background-color: rgb(218, 239, 186);
    padding: 1rem;
    margin: 1.2rem;
  }

  &__commentator {
    font-size: 1.2rem;
    padding-bottom: 1rem;
    padding-right: 2rem;
  }

  &__sorting-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 7rem;
    border: 0.1rem solid rgba(202, 195, 178, 0.2);
    padding: 3rem;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 0.5rem;
    backdrop-filter: blur(1rem);
    box-shadow: 0.1rem 0.4rem 1rem 0.5rem rgba(177, 178, 171, 0.1);
  }

  &__btn-sorting {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: white;
    padding: 0.5rem;
    // width: 25rem;
    font-size: 1.4rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
  }

  &__btn-create-post {
    width: 15rem;
    background-color: #2ec4b6;
    border: none;
    color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1.6rem;
    transition-property: background-color;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
  }

  &__btn-create-post:hover {
    background-color: #23988d;
  }
}
