.registration-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;

  &__registration-text {
    font-weight: 300;
    font-size: 2rem;
    padding-bottom: 5rem;
    color: white;
  }

  &__inputs-container {
    display: flex;
    flex-direction: column;
    width: 30rem;
    gap: 2rem;
    padding: 3rem;
    border: 0.1rem solid rgba(67, 67, 67, 0.3);
    background: linear-gradient(
      120deg,
      rgb(42, 44, 45) 0%,
      rgb(37, 38, 40) 50%,
      rgb(30, 31, 34) 100%
    );
    border-radius: 2rem;
    box-shadow: 0rem 0rem 1.5rem 0.4rem rgba(61, 63, 77, 0.1);
  }

  &__input {
    height: 3.5rem;
    font-size: 1.7rem;
    border-radius: 1rem;
    border: 0.1rem solid rgba(67, 67, 67, 0.3);
    padding-left: 1rem;
    background-color: rgb(47, 48, 50);
    color: white;
  }

  &__input:focus {
    outline: 0.1rem solid #23988d;
  }

  &__input::placeholder {
    color: rgb(206, 206, 206);
  }

  &__btn-register {
    background-color: #2ec4b6;
    border: none;
    color: white;
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 1.6rem;
    transition-property: background-color;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
  }

  &__btn-register:hover {
    background-color: #23988d;
  }

  &__question-text {
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 1rem;
    color: white;
  }

  &__login-link {
    text-decoration: none;
    font-size: 1.4rem;
    color: #2ec4b6;
    margin-top: 1rem;
    transition-property: color;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
  }

  &__login-link:hover {
    color: #23988d;
  }

  &__line {
    width: 100%;
    height: 0.1rem;
    background-color: rgb(169, 169, 169);
    margin-top: 2rem;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30rem;
  }
}
