.registration-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;

  &__error-msg {
    color: red;
    height: 3rem;
    display: flex;
    align-items: center;
  }

  &__inputs-container {
    display: flex;
    flex-direction: column;
    width: 15rem;
    gap: 2rem;
  }
}
