.registration-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;

  &__registration-text {
    font-weight: 300;
    font-size: 2rem;
    padding-bottom: 5rem;
  }

  &__inputs-container {
    display: flex;
    flex-direction: column;
    width: 30rem;
    gap: 2rem;
    border: 0.1rem solid rgb(229, 229, 229);
    padding: 3rem;
    background-color: rgb(251, 251, 251);
    border-radius: 0.5rem;
  }

  &__btn-register {
    background-color: rgb(75, 180, 120);
    border: none;
    color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1.4rem;
  }
}
