.users-page {
  margin-top: 20rem;
  display: flex;
  justify-content: center;

  &__container {
    display: flex;
    justify-content: center;
    width: 50%;
    gap: 3rem;
    flex-wrap: wrap;
  }
}
