*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  background: linear-gradient(125deg, #ffffff 0%, #ffdda2 100%);
  //naudojamas background-image: url("https://static.vecteezy.com/system/resources/previews/020/911/349/non_2x/gradient-blur-background-free-png.png");
  background-image: url("https://mobilesolutions.pt/wp-content/uploads/2016/02/Silver-Blur-Background-Wallpaper.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  overflow-y: hidden;
}

.modal-overlay {
  position: absolute;
  background-color: rgba(199, 222, 215, 0.2);
  backdrop-filter: blur(1.7rem);
  width: 100%;
  height: 100vh;
  z-index: 3;
  top: 0;
  left: 0;
}
