*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
}

.modal-overlay {
  position: absolute;
  background-color: rgba(199, 222, 215, 0.2);
  backdrop-filter: blur(1rem);
  width: 100%;
  height: 100vh;
  z-index: 3;
  top: 0;
  left: 0;
}
