*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(33, 36, 42);
}

.modal-overlay {
  position: fixed;
  backdrop-filter: blur(5rem);
  width: 100%;
  height: 100vh;
  z-index: 3;
  top: 0;
  left: 0;
}
